<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand">EJS</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a href="/" class="nav-link"> home</a>
            </li>
            <li class="nav-item">
               <a href="/sobre" class="nav-link">about me</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">contatos</a>
            </li>
            <li>
                <a href="/conteudo" class="nav-link">conteúdos</a>
            </li>
        </ul>

    </nav>
</header>