<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../partials/head');%>
</head>
<body class="container">
    <%-include('../../partials/header');%>
    <main>
        <p>conteúdo em breve</p>
    </main>
    <%-include('../../partials/footer');%>
</body>
</html>