<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header') %>
    <main>
        <div class="jumbotron">
            <h1>
                sobre mim
            </h1>
            <p>
                oi, sou wellyton estudante de TI, gosto principalmente de programação. <br>
                programo com javascript e node.js
                tecnologias de interresse:
                    typescript
                    
            </p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>