<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>
    <main>
        <a href="/node" class="nav-link">node.js</a>
        <a href="/javascript" class="nav-link">javascript</a>
        <a href="/python" class="nav-link">python</a>
        <a href="/ejs" class="nav-link">node + EJS</a>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>