<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>
    <main>
        <div class="jumbotron">
            <h1>
                DEV_CAT
            </h1>
            <p>
                um site com conteúdo sobre tecnologias
            </p>
        </div>
    </main>
    <%- include('../partials/footer'); %>


</body>
</html>